@charset "UTF-8";

body{
    background-color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(54, 114, 46);
    background-color: greenyellow;
}
h2{
    color: rgb(40, 86, 211);
}
p{
    text-align: justify;
}