@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana , Geneva;
    --fonte2: 'Passion One', serif;
    --fonte3: 'Sriracha', serif;
}
* {
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1)
}

header{
    background-color: black;
    color: white;
    text-align: center;

}

header > h1{
    padding-top: 50px;
    /*text-transform: uppercase; transforma tudo em upper*/
    font-variant: small-caps; /*todas as letras ficam maiusculas mas as iniciais ficam um pouquinho maior*/    
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh; /*dessa forma os espaços de cima e baixo do paragrafo ficam se adapatando ao tamanho. Essas coisas de responsividade usam vh e vw bastante*/
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.253);
    display: inline-block; /*pra ficar do tamanho do conteudo que ta dentro dele*/
    padding: 5px;
}

section.imagem {
    background-color: lightgray;
    color: black;
}
footer{
    background-color: black;
    text-align: center;
    padding-bottom: 10px;
}